@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(blue, pink) no-repeat center center fixed;
}
.nav-bar-container{
  display:flex;
  justify-content:center;
  justify-content:space-evenly
}
.navBar{
  background: linear-gradient(orchid, darkorchid);
  border-radius:100px;
  margin-bottom:3%;
  box-shadow:1px 10px 2px hotpink;
  border:3px orange solid;
  margin-top:1%;
  width:55%;
}
.nav-title{
  color:white;
  text-shadow: orange 2px 2px;
  font-size:39px;
}
.nav-link{
  color:orange;
  font-size:32px;
  text-shadow:1px 1px white;
  margin-top:5px;
  margin-bottom:5px;

}
.nav-bar-signout{
  background: linear-gradient(orchid, darkorchid);
  font-size:25px;
  border:3px double orange;
  text-shadow:1px 1px orange;
  height:55px;
  margin-top:7px;
  margin-left:25px;
}
.nav-bar-signout:hover{
  background: linear-gradient(orange);
  font-size:25px;
  border:3px double white;
  text-shadow:1px 1px orchid;
  color:orchid;
}
.home-content-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin-top:25%;
  width:75%;
  margin-left:15%;
  border:solid 3px orange;
  border-radius:25px;
  padding:40px;
  background: linear-gradient(orchid, darkorchid);
  box-shadow:2px 10px 0px hotpink;
}
.home-title{
  color:white;
  font-size:75px;
  text-shadow: orange 2px 5px;
  font-weight:900;
}
.home-line1{
  color:orange;
  font-weight:bold;
  width:600px;
}
.home-line2{
  color:orange;
  font-weight:bolder;
  width:750px;
}
.home-line3{
  color:orange;
  font-weight:bold;
}
.home-signout{
  background: linear-gradient(orchid, darkorchid);
  font-size:35px;
  border:3px double orange;
  text-shadow:1px 1px orange;
}
.home-signout:hover{
  background: linear-gradient(orange);
  font-size:35px;
  border:3px double white;
  text-shadow:1px 1px orchid;
  color:orchid;
}
.teams-searchBar{
  width:50%;
  margin-left:25%;
  margin-bottom:5%;
  font-size:30px;
  border:5px solid orange;
  border-radius:25px;
  text-align:center;
  box-shadow:2px 8px 0px hotpink;
  color: whitesmoke;
  background: linear-gradient(orchid, darkorchid);
}
.teams-content-container{

  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:white;
  opacity: 5; /* Firefox */
}
.team-card{
  background: linear-gradient(orchid, orange);
  box-shadow:2px 8px 0px hotpink;
  border:solid 3px darkorange;
}
.team-card-title{
  color:white;
  font-size:30px;
  font-weight:800;
}
.team-view-button{
  background-color:orchid;
  border:white solid 2px;
  margin-right:5%;
}
.team-view-button:hover{
  background-color:white;
  color:orchid;
  border:white solid 2px;
  margin-right:5%;
}
.team-edit-button{
  background-color:hotpink;
  border:white solid 2px;
  margin-right:5%;
}
.team-edit-button:hover{
  background-color:white;
  color:orchid;
  border:white solid 2px;
  margin-right:5%;
}
.team-delete-button{
  background-color:rgb(255, 152, 170);
  border:white solid 2px;
}
.team-delete-button:hover{
  background-color:white;
  color:orchid;
  border:white solid 2px;
}
.team-card-line{
  color:white;
}
